{% extends 'blog/base.html' %}

{% block content %}
    <h2>{{ usuario }}</h2>
    <p>{{ data_atual|date:"d/m/Y H:i:s T" }}</p>
    <p><a href="{% url 'contato' '83999990000' %}">Ir para Contato</a></p>

    {% if is_logged_in %}
        <p>Bem-vindo de volta!</p>

        {% if role == 'admin' %}
            <p>Você está logado como administrador.</p>
        {% elif role == 'user' %}
            <p>Você está logado como usuário.</p>
        {% endif %}
    {% else %}
        <p>Faça login para continuar.</p>
    {% endif %}
{% endblock %}
