{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Editar Autor" %}{% endblock %}
{% block header_title %}{% translate "Editar autor" %}{% endblock %}

{% block content %}
<section>
    <form method="post">
        <p>{% translate "Edição de Autor" %}</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% translate "Salvar alterações" %}</button>
    </form>
    <p><a href="{% url 'edu:list_autores' %}">{% translate "Voltar para listagem de autores" %}</a></p>
</section>
{% endblock %}
