{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Lista de Editoras" %}{% endblock %}
{% block header_title %}{% translate "Lista de editoras" %}{% endblock %}

{% block content %}
{% if perms.edu.add_editora %}
<section>
        <a href="{% url 'edu:create_editora' %}" style="display:inline-block; margin-bottom: 20px; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">{% translate "Cadastrar Nova Editora" %}</a>
    </section>
{% endif %}

<section>
    <p>{% translate "Listagem de Editoras" %}</p>
    {% if editoras %}
        <ul>
            {% for editora in editoras %}
                <li>
                    {% if perms.edu.change_editora %}
                        <a href="{% url 'edu:edit_editora' editora.pk %}">{{ editora }}</a>
                    {% else %}
                        {{ editora }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
{% else %}

        <p>{% translate "Nenhuma editora cadastrada." %}</p>
    {% endif %}
</section>
{% endblock %}
